#navigation-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e4fde3;
}
#home-link > img:hover {
  filter: invert(48%) sepia(16%) saturate(1496%) hue-rotate(73deg)
    brightness(98%) contrast(92%);
}

#home-link > img {
  margin-left: 10px;
  max-width: 30px;
  filter: invert(16%) sepia(96%) saturate(4622%) hue-rotate(105deg)
    brightness(103%) contrast(106%);
}

#logo-container {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  color: green;
}

#logo {
  height: 50px;
}

#pal-list-link {
  margin-right: 10px;
  text-decoration: none;
  font-size: large;
  color: green;
}
#pal-list-link:hover {
  color: #429445 ;
}
