<!-- src="https://www.hobocoin.it/3426-thickbox_default/pickle-rick-rick-and-morty-1-oz-silver-coin-1-cook-islands-2022.jpg" -->
<a id="pal-list-link" routerLink="/pals">Pal List ({{ pals.size }})</a>
<div id="logo-container">
  <h1>Pickle</h1>
  <img id="logo" src="assets/pickle-rick.png" alt="" />
  <h1>Pal</h1>
</div>
<app-filter (skillEvent)="filterBySkillLevel($event)"></app-filter>
<div id="main-container">
  <div class="arrow-container" [ngStyle]="{ display: cardDisplay }">
    <button (click)="leftSwipe()" id="left-arrow" class="arrow">
      <img src="assets/up-arrow.png" alt="" />
    </button>
  </div>
  <app-profile
    id="profile-container"
    [profile]="profiles[index]"
    [ngStyle]="{ transform: cardSwipe, display: cardDisplay }"
  ></app-profile>
  <div class="arrow-container" [ngStyle]="{ display: cardDisplay }">
    <button (click)="rightSwipe()" id="right-arrow" class="arrow">
      <img src="assets/up-arrow.png" alt="" />
    </button>
  </div>
</div>
