* {
  background-color: rgb(236, 236, 236);
  /* margin-bottom: 10px; */
  text-align: center;
}
#filters-container {
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
}

h1 {
  color: rgb(73, 73, 73);
  margin-bottom: 10px;
}

.filters-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select-filter-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-left: 15px;
}

.label-select-filter {
  color: rgb(117, 117, 117);
  font-weight: bold;
  font-size: 1.2em;
}

.select-filter {
  font-size: 1.1em;
}
#skillLevelFilter {
}
